# This file define snippets for snippets file 
# 
# Index:
#	isnip --------------- init a snippets file
# 
# Author: Mephis Pheies
# Email: mephistommm@gmail.com
# Update: 17.12.2015

# init a snippets file
snippet init.snip "init snippet file" b
# ${1:Description} 
# 
# Author: Mephis Pheies
# Email: mephistommm@gmail.com
# Update: `date  "+%d %m %Y"` 
$0
endsnippet

# insert a shell data command string
snippet dateformat "format date shell command" 
\`date "+%d %m %Y"\`
endsnippet

